extends layout

block content
    a(href="/users/create") Create user
    ul
        each user in users
            li Name: #{user.name}, Email: #{user.email}
            form(id="myForm", method="delete", action="/users/delete/#{user.name}")
                input(type="submit", value="Delete User")
