<!DOCTYPE html>
<html>
<head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div>
        <h1>Logged In Users Page</h1>
        <p>Welcome <%= message %></p>
        <p><a href="/users/logout">logout</a></p>
    </div>
</body>
</html>
