<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
<div view-title="Chats">
        <div id="AddItem">
            <h3>Add Item</h3>
            <input type="number" placeholder="Value of Item" ng-model="item.amount">
            <input type="text" placeholder="Name of Item" ng-model="item.name">
            <br />
            <button ng-click="addItem(item)">Add to list</button>
        </div>
        <div id="UncheckedList">
            <h4>Unchecked:</h4>
            <table>
                <tr ng-repeat="item in items" class="item-unchecked">
                    <td><b>name:</b> {{item.amount}} -</td>
                    <td><b>name:</b> {{item.name}} -</td>
                    <td>
                        <button ng-click="removeItem($index)">remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>