<html ng-app="todo">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-color: gray">

    <my-list></my-list>

    <div class="container" ng-controller="toDo">
        <h2>You've got <span class="numTasks">{{getTotalToDo()}}</span> things to do</h2>
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done"/>
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form>
            <input class="addinput" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
            <button class="addbutton" ng-click="addTodo()">
                <h2>Add A Task</h2>
            </button>
        </form>
        <button class="clear" ng-click="clearCompleted()">Clear Completed Tasks</button>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <!-- app.js must be FIRST, since the component is added to it -->
    <script src="app.js"></script>
    <script src="my-example/my-example.component.js"></script>
    <script src="component1/component1.js"></script>

</body>
</html>