@keyframes enter {
    from{top: 7%; left: -105%}
    to{top: 7%; left: 5%}
}

@keyframes leave {
    from{top: 7%; left: 5%}
    to{top: 7%; left: 105%}
}

.done-true {
    text-decoration: line-through;
    color: darkgray;
}

.animation.ng-enter {
    position: absolute;
    width: 70%;
    animation: enter 0.3s linear;
}

.animation.ng-leave {
    position: absolute;
    width: 70%;
    animation: leave 0.3s linear;
}

.done-true {
    text-decoration: line-through;
    color: #ddd;
}