body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  font-family: 'open sans', sans-serif;
}
html {
  height: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
}
.grayback {
  width: 360px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #FFFFFF;
  margin: 0 auto;
  text-align: center;
  color: #ffae21;
}
.paralax1 {
  background-image: url("von.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background-color: #ffffff;
  font-size: 60px;
}
.content .pagecenter {
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .pagecenter .leftside {
  font-size: 20px;
  width: 47%;
}
.content .pagecenter .headline {
  font-size: 45px;
  margin: 5px auto;
}
.content .pagecenter .rightside {
  margin: 0;
  height: 200px;
  margin-top: 100px;
}
.content .pagecenter .linkbox {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .pagecenter .linkbox .contentbutton {
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 3px;
  color: #000000;
  padding: 12px 35px;
}
.content .pagecenter span {
  line-height: 2.3;
  margin-top: 40px;
  display: block;
}
.paralax2 {
  background-image: url("von on cam.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.paralax3 {
  background-image: url("voncam.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.paralax4 {
  background-image: url("demaryius.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.paralax5 {
  background-image: url("dt1hand.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.paralax6 {
  background-image: url("dtsmash.jpg");
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
