@import "foo.css";
body {
  padding: 0;
  margin: 0;
}
.hero {
  width: 55%;
  height: 300px;
  font-size: 60px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: orange;
  box-shadow: 10px 10px 10px 0px gray;
  border-radius: 500px;
  background-color: aquamarine;
  margin: 25px;
  padding: 25px;
}
.midsection {
  width: 95%;
  margin: 20px auto;
  height: 100px;
}
.midsection .middle {
  width: 100%;
  margin: 25px auto;
  height: 100px;
  background-color: cornflowerblue;
  font-size: 40px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: orange;
  box-shadow: 10px 10px 10px 0px gray;
  border-radius: 500px;
  background-color: aquamarine;
  margin: 25px;
  padding: 25px;
}
.midsection .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.midsection .bottom .bbox {
  background-color: green;
  width: 33%;
  height: 200px;
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: orange;
  box-shadow: 10px 10px 10px 0px gray;
  border-radius: 500px;
  background-color: aquamarine;
  margin: 25px;
  padding: 25px;
}
